/* custom.css */

.navbar .container {
    margin-left: 10px;
}

.ms-auto {
    margin-left: 0px !important;
}

.top-x-slider {
    background-color: #343A40;
}

.slider-h5 {
    font-family: "Open Sans", verdana, arial, sans-serif;
    font-size: 16px;
    color: white;
    font-weight: normal;
}